<div id="TipBox" class="window-border">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<span class="text">Tip of the Day</span>
		</div>
		<div class="right">
			<button
				class="btn-close"
				data-background="basic_interface/sys_close_off.bmp"
				data-hover="basic_interface/sys_close_on.bmp"
			></button>
		</div>
		<div class="clear"></div>
	</div>

	<div class="tabs">
		<button class="tab-btn active" data-tab="general">General Tips</button>
		<button class="tab-btn" data-tab="guild">Guild Tips</button>
	</div>

	<div class="content-area">
		<div class="tip-text">No tips loaded.</div>
	</div>

	<div class="footer">
		<label class="startup-option">
			<input type="checkbox" id="show-startup" />
			<span>Show at startup</span>
		</label>
		<div class="nav-buttons">
			<button class="ui-btn btn-prev">Previous</button>
			<button class="ui-btn btn-next">Next</button>
		</div>
	</div>
</div>
